/* TYPOGRAHY */
body 
{
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5;
}

// BOLD
b,
h1,
h2,
h3,
.button
{
	font-weight: 700; 
}


p,
h1,
h2,
h3,
h4,
h5,
h6
{
	&:first-child
	{
		margin-top: 0;
		-webkit-margin-before: 0;
	}

	&:last-child
	{
		margin-bottom: 0;
		-webkit-margin-after: 0;
	}
}

code
{
	padding: $unit/3 $unit/2;
	background-color: rgba(0, 0, 0, 0.1);
	display: block;
	border-radius: $unit/4;
}